In [2]:
import pandas as pd
import seaborn as sns
import numpy as np 


df_age = pd.read_csv('interests-of-users-by-age.csv')
df_age

,index,age,nbusers,percentwantchats,percentwantfriends,percentwantdates,meankissesreceived,meanvisitsreceived,meanfollowers,meanlanguagesknown,totalwantchants,totalwantfriends,totalwantdates,totalkissesreceive,totalvisitsreceived,totalfollowers,totallanguagesspoken
0,0,18,1,0.0,0.0,0.0,0,0.0,0.0,1.00,0,0,0,0,0,0,1
1,1,19,523,65.8,62.5,34.2,179,4279.5,2.6,1.15,344,327,179,93985,2238190,1374,601
2,2,20,524,67.6,64.9,37.2,208,4809.5,1.8,1.12,354,340,195,109490,2520195,934,586
3,3,21,603,64.0,63.0,35.7,167,4093.0,2.1,1.12,386,380,215,101063,2468100,1239,678
4,4,22,720,59.9,60.6,40.3,134,3302.9,1.7,1.07,431,436,290,96505,2378122,1201,771
5,5,23,593,59.7,64.8,39.5,161,3632.6,3.1,1.09,354,384,234,95646,2154138,1811,648
6,6,24,534,61.0,61.4,39.7,127,3009.6,2.6,1.12,326,328,212,68183,1607127,1378,599
7,7,25,356,60.1,62.4,44.4,115,2902.8,2.6,1.10,214,222,158,41200,1033400,923,392
8,8,26,117,65.0,62.4,47.0,146,2839.6,3.9,1.07,76,73,55,17118,332231,455,125
9,9,27,1,100.0,0.0,0.0,661,8755.0,0.0,1.00,1,0,0,661,8755,0,1
10,10,28,1,0.0,0.0,0.0,0,0.0,0.0,5.00,0,0,0,0,0,0,5

In [9]:
df1 = pd.read_csv('lovoo_v3_users_api-results.csv')
df1

,index,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,pictureId,userId,isSystemProfile
0,0,F,M,25,daeni,1.00,4,8279,239,0,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,1,F,M,22,italiana 92,0.85,5,663,13,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,2,F,M,21,Lauraaa,0.00,4,1369,88,0,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,4,F,M,21,schaessie {3,0.15,12,35262,1413,9,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3968,3968,F,M,21,B**f,0.85,1,280,15,0,...,1,2015-04-07T00:08:59Z,1.428365e+09,0,1.0,NaN,NaN,CRYqKLbQ1+pd5CVSmGGccV+EggT4oGRmaXWhnn5jhMg9Jz...,cb958a9459216acd4dd06f213fe63685,NaN
3969,3969,F,M,20,Ma**e,1.00,8,1014,43,3,...,1,2015-04-06T07:54:34Z,1.428307e+09,0,1.0,NaN,Marie ‡•ê üéâGoa. ...,CRYq7MGpxHpEKfWhmwJygGmRNadHkC9XxPjktwvaiLm6Te...,d5a7edbcb59fcb092871bdcde7f142ca,NaN
3970,3970,F,M,20,Ma**e,1.00,8,1101,46,3,...,1,2015-04-06T07:54:34Z,1.428307e+09,0,1.0,NaN,Marie ‡•ê üéâGoa. ...,CRYVOrW7zgSV+NPGili4nZeREmQ0rAAXCZunTXp9KRLat1...,d5a7edbcb59fcb092871bdcde7f142ca,NaN
3971,3971,F,M,23,Eni**n,0.96,8,8702,142,0,...,0,2015-04-06T15:47:15Z,1.428335e+09,0,1.0,NaN,ruhig shriebeüòâ. biss√§ ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,NaN
3972,3972,F,M,23,Eni**n,0.96,9,8904,143,0,...,0,2015-04-19T08:38:08Z,1.429433e+09,0,1.0,NaN,ruhig shriebeüòâ. biss√§ ni,CRYbrX0C8ToNrsDqLPf+kLsCSuDY0TOhyKSo3Phw98sbl+...,dc186f3855343c9f096c484f6d363aac,NaN

In [11]:
df1 = df1.drop(['name','whazzup','pictureId','userId'], axis=1)

In [12]:
df1

,index,gender,genderLooking,age,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,isSystemProfile
0,0,F,M,25,1.00,4,8279,239,0,3,...,False,False,0,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,NaN
1,1,F,M,22,0.85,5,663,13,0,0,...,False,False,0,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,NaN
2,2,F,M,21,0.00,4,1369,88,0,2,...,False,False,0,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN
3,3,F,none,20,0.12,3,22187,1015,2,3,...,False,False,0,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,NaN
4,4,F,M,21,0.15,12,35262,1413,9,12,...,False,False,0,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3968,3968,F,M,21,0.85,1,280,15,0,0,...,False,False,0,1,2015-04-07T00:08:59Z,1.428365e+09,0,1.0,NaN,NaN
3969,3969,F,M,20,1.00,8,1014,43,3,0,...,False,False,0,1,2015-04-06T07:54:34Z,1.428307e+09,0,1.0,NaN,NaN
3970,3970,F,M,20,1.00,8,1101,46,3,0,...,False,False,0,1,2015-04-06T07:54:34Z,1.428307e+09,0,1.0,NaN,NaN
3971,3971,F,M,23,0.96,8,8702,142,0,0,...,False,False,0,0,2015-04-06T15:47:15Z,1.428335e+09,0,1.0,NaN,NaN
3972,3972,F,M,23,0.96,9,8904,143,0,0,...,False,False,0,0,2015-04-19T08:38:08Z,1.429433e+09,0,1.0,NaN,NaN

In [13]:
df2 = pd.read_csv('lovoo_v3_users_instances.csv')

In [14]:
df2

,index,gender,age,name,counts_pictures,counts_profileVisits,counts_kisses,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,...,hasBirthday,highlighted,distance,locked,mobile,online,whazzup,pictureId,userId,isSystemProfile
0,0,F,25,daeni,4,8279,239,True,True,True,...,False,False,175.000000,False,True,False,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,False
1,1,F,22,italiana 92,5,663,13,True,True,True,...,False,False,138.000000,False,True,False,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,False
2,2,F,20,Qqkwmdowlo,3,22187,1015,True,True,False,...,False,False,77.300003,False,False,False,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,False
3,3,F,24,Baby dee,18,7339,180,True,False,True,...,False,False,194.000000,False,True,True,Wicked Wonderlandüíï‚ù§Ô∏è,4ef9434cca61bece6a000002,54f2b4ce0b6ea1177e8b4d18,False
4,4,F,24,Anna,13,18672,492,False,True,False,...,False,False,318.000000,False,True,True,üíö ‚úÖ Instagram : anna_lem0n,4f10cbc1883fa97a5f000015,54ecbb39170ba08b488b4aa5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,F,20,Ma**e,8,1101,46,True,True,True,...,False,False,0.000000,False,False,False,Marie ‡•ê üéâGoa. Facebook:Ma...,CRYVOrW7zgSV+NPGili4nZeREmQ0rAAXCZunTXp9KRLat1...,d5a7edbcb59fcb092871bdcde7f142ca,False
2915,2915,F,23,Eni**n,8,8681,141,True,True,True,...,False,False,0.000000,True,True,True,ruhig shriebeüòâ. biss√§ ni,CRYohLWFV8BkxZIvOom42Cwo3ysdViv+oTosUAOQkLKHTM...,e532a6060fe4e5902c66086d905a9d53,False
2916,2916,F,23,Eni**n,8,8682,141,True,True,True,...,False,False,0.000000,True,True,False,ruhig shriebeüòâ. biss√§ ni,CRYz85gM+yTETN5FonrExXNHyDuwarWygCPnUrwnan7Uet...,e532a6060fe4e5902c66086d905a9d53,False
2917,2917,F,23,Eni**n,8,8702,142,True,True,True,...,False,False,0.000000,False,True,True,ruhig shriebeüòâ. biss√§ ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,False
2918,2918,F,23,Eni**n,9,8904,143,True,True,True,...,False,False,0.000000,False,True,False,ruhig shriebeüòâ. biss√§ ni,CRYbrX0C8ToNrsDqLPf+kLsCSuDY0TOhyKSo3Phw98sbl+...,dc186f3855343c9f096c484f6d363aac,False